<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
		type="text/css">
		
<meta charset="ISO-8859-1">
<title>Notice List</title>
</head>
<body>
<div th:replace="/shared/admin-nav::topnavbar"></div>

<!-- start container -->
<!-- start Dashboard area -->
<div class="container-fluid">
     <div class="row"> <!-- start Row -->
      <nav class="col-md-2 navbar-secondary bg-secondary sidebar border"><!-- Side navigation bar starts-->
     
     <div th:replace="/shared/admin-sidenav::dashsidenav"></div>
     </nav><!-- End side bar -->
   
         
          <div class="col-sm-9 col-md-10 dasharea"><!-- dasharea starts -->
             <button type="button" class="navbar-toggler btn-outline ml-2 mt-2 bg-info text-white" data-toggle="collapse" data-target="#dashsidemenu" >Menu
                     <span class="navbar-toggler-icon"></span>
           </button>
           <hr/>
   <div class="container">
	<a th:href="@{/dashboard/notice/create}">Add Notice</a>
	<table class="table table-bordered ">
	    <thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Notice Title</th>
			<th scope="col">Notice Details</th>
			<th scope="col">Published Date</th>
			<th scope="col">Notice Type</th>
			<th scope="col" colspan="2" > Active</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="notice, iterator : ${noticeList}">
			<td th:text="${iterator.index+1}"></td>
			<td th:text="${notice.noticeTitle}"></td>
			<td th:text="${notice.notice}"></td>
			<td th:text="${notice.publishedDate}"></td>
			<td th:text="${notice.noticeType}"></td>
			<td th:text="${notice.isActive}"></td>
			
			<td><a th:href="@{'/dashboard/notice/edit/'+${notice.noticeId}}">Edit</a></td>
		</tr>
		</tbody>
	</table>
	</div>
	
	 </div><!-- End Dashboard area -->
          </div><!-- End Row -->
     </div><!-- End Container -->        
 
 <!-- footer starts -->
	<div th:replace="/shared/footer::foot"></div>
	<!-- end footer -->
 
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	
	
</body>
</html>
